            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }
            body {
                height: 100vh;
                background: green;
                width: 100vw;
                font-family: 'Roboto', sans-serif;
                font-weight: 700;
                text-align: center;
            }
            .container {
                padding: 20px;
                position: fixed;
                top: 5%;
                right: 5vw;
                background: #f2f2f2;
                width: 90vw;
            }
            .inputs {
                text-align: left;
                margin: 15px 0;
            }
            .inputs input {
                margin: 15px 5px;
                padding: 10px;
            }
            .generateContainer {
                text-align: center;
            }
            .generateContainer button {
                padding: 15px 20px;
                color: #fff;
                background: rgb(0,80,50);
                width: 100%;
                border-radius: 10px;
                font-size: 24px;
            }
            #alertElement {
                position: fixed;
                bottom: 0;
                background: #000;
                color: #fff;
                width: 100%;
                left: 0;
                padding: 10px;
                font-size: 20px;
                border-bottom: 5px solid #fff;
            }
            .generateContainer button i {
                margin-right: 8px;
            }
            button {
                border: none;
                                font-family: 'Roboto', sans-serif;
                font-weight: 700;
            }
            h1 {
                margin-bottom: 15px;
                font-size: 24px;
            }
            p {
                font-size: 15px;
            }
            dialog {
                position: fixed;
                top: 50%;
                background: #fff;
                color: #000;
                width: 90vw;
                left: 5vw;
                padding: 20px;
            }
            dialog button {
                font-size: 24px;
                padding: 10px;
                background: none;
                color: #000;
            }
            .bi-x {
                float: right;
                margin-top: -130px;
            }
            dialog input {
                margin: 20px 0;
                background: none;
                color: #000;
                width: 80vw;
                padding: 15px;
            }
            dialog h2 {
                text-align: left;
            }
